body {
  // background-image: url(../img/subway.jpeg);
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: lightblue;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  width: 90%;
  max-width: 1000px;
  height: 90%;
  max-height: 1000px;
}

#pascNum {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pascComb {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.combElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
}

.par {
  font-size: 64px;
}

.comb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 32px;
  h1 {
    line-height: 0px;
    font-size: 32px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  line-height: 30px;
  div {
    h1 {
      color: white;
      // font-size: 14px;
    }
  }
}
$n: 10;

@for $i from 0 through $n {
  .row:nth-child(#{$i}) {
    width: calc(100px * #{$i});
  }
}

.orbit {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 100px;
  .sun {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-image: url(../img/vortex.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: sunshine 5s linear forwards infinite;
  }
}

.spinOut {
  animation: spinOut 1s linear forwards;
}
.spinIn {
  animation: spinOut 1s linear forwards;
  animation-direction: reverse;
}
@keyframes rot {
	from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

@keyframes shine {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translate(45vw, -100px);
  }
  100% {
    transform: translateX(calc(100vw + 100px));
  }
}

@keyframes sunshine {
  0% {
    transform: translateX(-100px) rotate(1440deg);
  }
  50% {
    transform: translate(45vw, -100px) rotate(720deg);
  }
  100% {
    transform: translateX(calc(100vw + 100px)) rotate(0deg);
  }
}

.swim {
  position: absolute;
  top: 300px;
  width: 100%;
  height: 400px;
  .jelly {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //
    // animation: shine 5s linear forwards infinite;
  }
}

.clone {
  position: relative;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#jell1 {
  background-image: url(../img/jelly1.png);
  animation: shine 8s linear forwards infinite;
  animation-direction: reverse;
}

#jell2 {
  background-image: url(../img/jelly2.png);
  animation: shine 6s linear forwards infinite;
  animation-direction: reverse;
}

#jell3 {
  background-image: url(../img/jelly3.png);
  animation: shine 7s linear forwards infinite;
  animation-direction: reverse;
}

#jell4 {
  background-image: url(../img/jelly4.png);
  animation: shine 9s linear forwards infinite;
  animation-direction: reverse;
}

.garden {
  top: 927px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

// .grass {
//   height: 200px;
//   width: 100%;
//   position: fixed;
//   bottom: 0;
//   z-index: 1;
//   background-image: url(../img/water.gif);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

.flower {
  height: 500px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin animate($name, $time) {
  animation: $name $time linear forwards infinite;
  animation-direction: alternate;
}

@mixin growFunc($name, $height) {
  @keyframes #{$name} {
    from {transform: translateY(927px);}
    to {transform: translateY(calc(927px - #{$height}));}
  }
}
@include growFunc(grow1, 400px);
@include growFunc(grow2, 100px);
@include growFunc(grow3, 200px);
@include growFunc(grow4, 300px);

#first {
  @include animate(grow1, 2s);
  .bulb {
    background-image: url(../img/water.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

#second {
  @include animate(grow2, 1s);
  .bulb {
    background-image: url(../img/iris2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#third {
  @include animate(grow3, 2s);
  .bulb {
    background-image: url(../img/eye2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#fourth {
  @include animate(grow4, 1.5s);
  .bulb {
    background-image: url(../img/lips.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}

.bulb {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
}

.stem {
  height: 450px;
  width: 5px;
  background-color: green;
}
.polyhedron {
	margin: 5em auto 0;
	padding: 0;
	width: 16em; height: 16em;
  perspective: 100em;
	transform-style: preserve-3d;
  animation: spinOut 1s linear infinite;
  animation-direction: alternate;
}
@keyframes spinOut {
	0% { transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg); }
  33% { transform: rotateZ(-15deg) rotateX(15deg) rotateY(120deg) scaleX(0.667) scaleY(0.667) scaleZ(0.667);
  }
  66% { transform: rotateZ(15deg) rotateX(-15deg) rotateY(360deg) scaleX(0.334) scaleY(0.334) scaleZ(0.334);
  }
  100% { transform: rotateZ(0deg) rotateX(0deg) rotateY(1080deg) scaleX(0) scaleY(0) scaleZ(0);
  }
}
.side, .side:after {
  overflow: hidden;
  position: absolute;
  width: inherit; height: inherit;
  backface-visibility: hidden;
}
.triangle:after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
  content: '';
}
.tetrahedron .side.triangle:first-child {
  transform: translateZ(4.6188em)
    rotateX(19.47deg)
    rotate(30deg) skewY(30deg) scaleX(.866);
}
.tetrahedron .side.triangle:first-child:after {
  background: hotpink;
  opacity: 0.5;
}
.tetrahedron .side.triangle:nth-child(2) {
  transform: rotateY(120deg) translateZ(4.6188em)
    rotateX(19.47deg)
    rotate(30deg) skewY(30deg) scaleX(.866);
}
.tetrahedron .side.triangle:nth-child(2):after {
  background: orange;
  opacity: 0.5;
}
.tetrahedron .side.triangle:nth-child(3) {
  transform: rotateY(-120deg) translateZ(4.6188em)
    rotateX(19.47deg)
    rotate(30deg) skewY(30deg) scaleX(.866);
}
.tetrahedron .side.triangle:nth-child(3):after {
  background: red;
  opacity: 0.5;
}
.tetrahedron .side.triangle:last-child {
  transform: translateZ(4.6188em)
    rotateX(90deg) rotateY(180deg)
    rotate(30deg) skewY(30deg) scaleX(.866);
}
.tetrahedron .side.triangle:last-child:after {
  background: yellow;
  opacity: 0.5;
}
#tet {
  position: absolute;
  top: 32%;
  left: 65%;
}
